<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="36799ZantarSoftware.Notificationssamplefor8.1" Publisher="CN=0914A705-5594-4F9A-8D84-8538CD7011AC" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Notifications sample for 8.1</DisplayName>
    <PublisherDisplayName>Zantar Software</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SampleNotif.Windows.App">
      <m2:VisualElements DisplayName="Notifications sample for 8.1" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="SampleNotif.Windows" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>